body {
    background-color: black;
    color: white;
    width: 100%;
}
Header {
background-color: black;
}
section-link:hover {
background-color: rgb(109, 142, 248);
}
.homeimage {
width:100% ;
height:auto;
}

.works-link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
}
.works-link-container a:hover{
   color: aqua;
}
.section-link {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(109, 142, 248);
    text-decoration: none;
    color: #ffffff;
}
.section-button {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(109, 142, 248);
    text-decoration: none;
    color: #ffffff;
}

.introtext {
width:96%;
padding: 5px;
margin: 10px;
}
